@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

}

.flexwrap {
  //background: black;
  color: black;

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 5px;
    display: block;
  }

  .topmenu .v-menubar-menuitem {
    border: none;
  }

  .itembox {
    white-space: normal;
    vertical-align: top;
  }

  .itembox.v-label {padding: 5px}
}

.flexwrap[width-range~="0-499px"] {
  .itembox {width: 100%}
}

.flexwrap[width-range~="500px-"] {
  .itembox {width: 50%}
}
